/venv

/data/ALBERT_tokenizer.pkl
/data/df_test.pkl
/data/df_train.pkl
/data/relations.pkl
/data/task_test_model_best_1.pth.tar
/data/task_test_checkpoint_1.pth.tar

/data/recipes

/data/ALBERT/albert-base-v2_all/model
/data/ALBERT/albert-base-v2_channel/model
